@charset "UTF-8";

  *{margin:0;padding:0;}
    ul,li{list-style:none;}
    
  #main_img{height:100%; overflow:hidden;}
  #main_img ul{height:100%;}
  #main_img li{height:100%;}

  
/*     #main_img {heigt: 300px; overflow:hidden;} */
/*     #main_img ul{width:calc(100% * 4);display:flex; */
/*     animation:slide 17s infinite;} slide를 17초동안 진행하며 무한반복 함 */
/*     #main_img li{width:calc(100% / 4);height:300px;} */
/*    /* #main_img li:nth-child(1){background:#ffa;} */
/*     #main_img li:nth-child(2){background:#faa;} */ 
/*     @keyframes slide { */
/*       0% {margin-left:0;} 0 ~ 10  : 정지 */
/*       15% {margin-left:0;} 10 ~ 25 : 변이 */
/*       30% {margin-left:-100%;} 25 ~ 35 : 정지 */
/*       45% {margin-left:-100%;} 35 ~ 50 : 변이 */
/*       60% {margin-left:-200%;}  */
/*       75% {margin-left:-200%;}  */
/*       100% {margin-left:0;} */
/*     } */
    
  

    
 



 